<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Artigos</title>
		</head>
	<body>

		<h1>Artigos</h1>

		<table>
			<tr>
				<td>ID</td>
				<td>Titulo</td>
				<td>Artigo</td>
			</tr>

		
			<tr>
				<td><%= artigo[0].id_artigo %></td>
				<td><pre><%= artigo[0].titulo_artigo %></pre></td>
				<td><code><%= artigo[0].desc_artigo %></code></td>
			</tr>
		</table>

	</body>
</html>