<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Artigos</title>
		</head>
	<body>

		<h1>Artigos</h1>

		<table>
			<tr>
				<td>ID</td>
				<td>Titulo</td>
			</tr>

			<% for(var i=0; i < artigos.length; i++) { %>
				<tr>
					<td><%= artigos[i].id_artigo %></td>
					<td><%= artigos[i].titulo_artigo %></td>
				</tr>
			<% } %>
		</table>

	</body>
</html>