<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8" />
	<title>Formulário de cadastro de Artigos</title>
</head>

<body>

	<h1>Adicionar artigo</h1>
	<form action="/artigos/salvar" method="post">
		<label>Título</label>
		<input type="text" id="titulo" name="titulo_artigo" placeholder="Título do Artigo" />
		<br />
		<label>Artigo</label>
		<textarea id="artigo" name="desc_artigo" rows="5" cols="30"></textarea>
		<br />
		<input type="submit" value="Enviar" />
	</form>

</body>

</html>